<?xml version="1.0" encoding="utf-8"?>

<!--
    All tutorials of Seeing# are provided under the following license.

	The MIT License (MIT)
	Copyright (c) 2016 Roland Koenig

	Permission is hereby granted, free of charge, to any person obtaining a copy 
	of this software and associated documentation files (the "Software"), to deal 
	in the Software without restriction, including without limitation the rights 
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies 
	of the Software, and to permit persons to whom the Software is furnished to do 
	so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in all 
	copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
	INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
	PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
	HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
	CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE 
	OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<packages>
  <package id="AssimpNet" version="3.3.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net46" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net46" />
  <package id="SeeingSharp" version="1.0.1" targetFramework="net46" />
  <package id="SeeingSharp.Multimedia" version="1.0.1" targetFramework="net46" />
  <package id="SharpDX" version="3.0.1" targetFramework="net46" />
  <package id="SharpDX.D3DCompiler" version="3.0.1" targetFramework="net46" />
  <package id="SharpDX.Direct2D1" version="3.0.1" targetFramework="net46" />
  <package id="SharpDX.Direct3D11" version="3.0.1" targetFramework="net46" />
  <package id="SharpDX.Direct3D9" version="3.0.1" targetFramework="net46" />
  <package id="SharpDX.DXGI" version="3.0.1" targetFramework="net46" />
  <package id="SharpDX.Mathematics" version="3.0.1" targetFramework="net46" />
  <package id="SharpDX.MediaFoundation" version="3.0.1" targetFramework="net46" />
  <package id="SharpDX.XAudio2" version="3.0.1" targetFramework="net46" />
  <package id="SharpDX.XInput" version="3.0.1" targetFramework="net46" />
</packages>